<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

        <bean  id="oracleKeyGenerator" class="com.baomidou.mybatisplus.extension.incrementer.OracleKeyGenerator"></bean>

      <!--数据源c3p0 -->
        <context:property-placeholder  location="classpath:db.properties"  />

        <bean  id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
            <property name="driverClass" value="${jdbc.driver}"/>
            <property name="jdbcUrl" value="${jdbc.url}"/>
            <property name="user" value="${jdbc.username}"/>
            <property name="password" value="${jdbc.password}"/>
        </bean>


      <!--事务管理器-->
      <bean id="dataSourceTransactionManger"  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
         <property name="dataSource" ref="dataSource" ></property>
      </bean>
      <tx:annotation-driven  transaction-manager="dataSourceTransactionManger" />


        <!-- 全局配置-->
        <bean id="globalConfig" class="com.baomidou.mybatisplus.core.config.GlobalConfig">

            <!-- 将填充器 放入配置-->
            <property name="metaObjectHandler" ref="myMetaObjectHandler" ></property>


            <property name="dbConfig" >


                <!-- 将oracleKeyGenerator 放入配置-->


                <bean class="com.baomidou.mybatisplus.core.config.GlobalConfig$DbConfig">
                    <property name="keyGenerator" ref="oracleKeyGenerator" ></property>
                    <property name="logicDeleteValue" value="1"></property>
                    <property name="logicNotDeleteValue" value="0"></property>


                    <property name="tablePrefix" value="tb_"></property>



                </bean>




            </property>
            
            
            
            <!-- 注入器-->
            <property name="sqlInjector">
                <bean class="com.yq.injector.MyInjector"> </bean>
            </property>
        </bean>

    <!-- SqlSessionFactoryBean： MyBatis-->
        <!--<bean  id="sqlSessionFactoryBean"  class="org.mybatis.spring.SqlSessionFactoryBean"  >-->
        <bean  id="sqlSessionFactoryBean"  class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean"  >
            <!-- 停止使用默认的注入器，而改为使用自己的注入器-->
            <property name="globalConfig" ref="globalConfig" ></property>

            <!--注入全局MP策略配置-->
            <property name="dataSource" ref="dataSource" ></property>



            <property name="configLocation" value="classpath:mybatis.xml" ></property>
            <property name="typeAliasesPackage" value="com.yq.entity" ></property>
            <property name="plugins" >

                <list>
                    <!-- 乐观锁插件-->
                    <bean class="com.baomidou.mybatisplus.extension.plugins.OptimisticLockerInterceptor"/>


                        <!-- 分页插件-->
                        <bean class="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor">
                            <!-- <property name="sqlParserList" >
                              <list>
                                 <bean class="com.baomidou.mybatisplus.extension.parsers.BlockAttackSqlParser"></bean>
                              </list>
                          </property>
                          -->
                      </bean>

                  <bean class="com.baomidou.mybatisplus.extension.plugins.PerformanceInterceptor">
                      <property name="maxTime"  value="3000" ></property>
                      <!-- 格式化SQL语句-->
                        <property name="format"  value="true" ></property>

                    </bean>



                </list>
            </property>


        </bean>


    <!-- MyBatis只写接口 不写实现类:    com.yq.mapper.StudentMapper接口         -->
    <bean id="configurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer"  >
        <property name="basePackage" value="com.yq.mapper"/>
    </bean>


    <bean id="myMetaObjectHandler" class="com.yq.meta.MyMetaObjectHandler"/>

    <!--db.properties -> property-placeholder -> dataSource ->sqlSessionFactoryBean-> stuentMapper.getXxxx()-->

</beans>